<h1 class="m-10">Subheading Component</h1>
<%= render SubheadComponent.new(title: "Primary title", description: "Primary description") %>
<%= render SubheadComponent.new(title: "Danger title", description: "Danger description", danger: true) %>
